#video_box {

    margin: 100px auto 50px;
    text-align: center;
    width: 80vw;

}

#video_box h1 {
    margin-bottom: 20px;
}



#about_title {
    text-align: center;
    margin-bottom: 20px;

}



#about_box {
    text-align: center;
    margin-bottom: 50px;

}

#about_box img {

    width: 80vw;
    height: 60vh;
    object-fit: cover;
    object-position: center;
}


#about_box p {
    width: 80vw;
    margin: 20px auto;
    text-align: justify;
}


@media only screen and (min-width: 800px) {

    #video_box {

        margin-top: 200px;
        width: 800px;
    }


    #about_box {
        display: flex;
        flex-direction: column;
    }


    #about_box1 {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;



    }

    #about_box2 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;

    }

    #about_box img {
        width: 380px;
        height: 500px;
        margin: 0 20px;

    }

    #about_box p {

        width: 380px;
        height: 500px;
        margin: 0 20px;


    }



}
