#contact_title {
    text-align: center;
    margin-top: 100px
}


#contact_box {
    text-align: center;
    width: 80vw;
    margin: auto;
    color: #4d4d4d;
    line-height: 30px;

}

#phone_box {
    text-align: center;
}

#mail_box {
    text-align: center;


}

#navigation_box {
    text-align: center;
}






#phone_box i,
#mail_box i,
#navigation_box i {
    margin: 20px auto;
    font-size: 2rem;

    width: 20vw;
    height: 20vw;


    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border: 2px solid #9e8555;
    border-radius: 100%;
    color: #9e8555;

}

#map {
    width: 80vw;
    height: 60vh;

    margin: 30px auto;
    object-fit: cover;
    object-position: center;


}

#map img {
    width: 80vw;

    height: 60vh;

    object-fit: cover;
    object-position: center;

}

#social_box {
    text-align: center;
}

#social_box p {
    line-height: 50px;
    margin: 0;
    margin-bottom: 20px;
}

#footer_box {
    text-align: center;

}

#footer_box a {
    text-decoration: none;
}


#footer_box img {
    padding: 20px 10px;
    width: 20px;
    height: 20px;
}

@media only screen and (min-width: 800px) {
    #contact_title {

        margin-top: 200px;
    }
}

@media only screen and (min-width: 1100px) {

    body {}


    #map {

        position: fixed;
        height: 100vh;
        width: 40vw;
        top: 50px;
        left: 0;
        margin: 0;


    }

    #map img {
        height: 100vh;
        width: 40vw;
        object-position: right;

    }


    main {
        display: flex;

    }

    #filler {
        width: 40vw;
    }

    #contact_title {

        margin: 0;
        width: 60vw;
        right: 0;
        margin-top: 150px;
    }


    #contact_box {
        width: 50vw;
        right: 0;

    }






    #phone_box i,
    #mail_box i,
    #navigation_box i {
        margin: 0;
        font-size: rem;

        width: 80px;
        height: 80px;


        top: 300px;


    }



    #social_box p {
        margin: 0;
        margin-bottom: 20px;
        right: 150px;
        top: 340px;

    }

    main {
        display: flex;
    }

    #contact_flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: auto;
        justify-content: space-around;
        margin-top: 50px;
        width: 50vw;
    }

    #phone_box,
    #mail_box,
    #navigation_box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 20px;
        margin-top: 20px;

    }

    #phone_box p,
    #mail_box p,
    #navigation_box p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
    }

    #footer_box {

        width: 60vw;
        margin-left: 40vw;
    }

    #footer_box a {}


    #footer_box img {
        padding: 20px 10px;
        width: 20px;
        height: 20px;
    }





}
