#contact_title {
    margin-top: 100px;
    text-align: center;
}

#contact_img {
    text-align: center;
}


#contact_img img {
    width: 80vw;

}

#contact_box {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 50px;

}



#contact_box img {
    margin: auto;
    width: 80vw;

    object-position: center;
    object-fit: cover;

}

#contact_box p {
    text-align: center;
    width: 80vw;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;

}

#contact_box #map {

    text-align: center;
}


#social_box p {
    width: 80vw;
    text-align: center;
    margin: auto;
}

@media only screen and (min-width: 800px) {



    #contact_title {
        margin-top: 200px;

        margin-bottom: 20px;
    }

    #contact_img img {
        width: 780px;
        height: 400px;
        margin-bottom: 60px;
    }

    #contact_img img {
        object-fit: cover;

    }

    #contact_box {
        flex-direction: row;
        width: 800px;
        margin: auto;

    }

    #contact_box img {
        width: 380px;
        height: 500px;
        margin: 10px;
        object-fit: cover;


    }

    #contact_box #text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;



    }


    #contact_box #text p {
        text-align: left;
        width: 380px;
        margin: 0;

    }




    #social_box p {
        margin: 50px auto;
        width: 400px;
    }


}
