* {
    margin: 0;
    padding: 0;
}


body {
    background: #FBFBF9;
}


h1,
h2,
h3,
h4,
h5,
h6,
button,
a {

    font-family: 'Suranna';
    font-weight: 100;
    color: #4D4D4D;
    line-height: 60px;

}

p {
    font-family: 'Prata',
        serif;
    color: #4D4D4D;
    font-weight: 100;
    line-height: 30px;

}

h1 {
    font-size: 1.5rem;
}

p {
    font-size: 0.8rem;
}


@media only screen and (min-width: 800px) {

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1rem;
    }

}


/*fadein/fade out*/


@keyframes fade_out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade_in {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}


.fade_out {
    animation: fade_out 0.9s 1;
}

.fade_in {

    animation: fade_in 2s 1;

}
