* {
    margin: 0;
    padding: 0;
}


body {
    background: #FBFBF9;
}


h1,
h2,
h3,
h4,
h5,
h6,
a {

    font-family: 'Suranna';
    font-weight: 100;
    color: #4D4D4D;
    line-height: 60px;

}

p {
    font-family: 'Prata',
        serif;
    color: #4D4D4D;
    font-weight: 100;

}


h1 {
    font-size: 3rem;
}
