/*////////////////////////////////////////////////////////////////////////////////////Logo///////////////////////////////////////////////////////////////////////////////////////*/

.logo {
    margin: auto;
    height: auto;
    width: 50vw;


}

.logo img {
    height: auto;
    width: 50vw;
    margin: auto;

}


@media only screen and (min-width: 800px) {

    .logo {
        margin: 0;
        height: 80px;
        width: auto;
    }

    .logo img {
        height: 80px;
        margin: 0;
        width: auto;


    }
}


/*////////////////////////////////////////////////////////////////////////////////////Burger_menu///////////////////////////////////////////////////////////////////////////////////////*/

#desktop_menu {
    display: none;
}

#burger {
    position: fixed;
    top: -18px;

}



body h1 > span {
    text-transform: none;
    opacity: .5;
}

body input + label {
    position: fixed;
    top: 40px;
    right: 40px;
    height: 20px;
    width: 15px;
    z-index: 100;

}

body input + label span {
    position: absolute;
    width: 150%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #9e8555;
    transition: .5s;


}

body input + label span:first-child {
    top: 3px;

}

body input + label span:last-child {
    top: 17px;
}

body label:hover {
    cursor: pointer;
}

body input:checked + label span {
    opacity: 0;
    top: 50%;
}

body input:checked + label span:first-child {
    opacity: 1;
    transform: rotate(405deg);

}

body input:checked + label span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
}

body input ~ nav {

    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 3;
    transition: .5s;
    transition-delay: .5s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body input ~ nav > ul {
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 20%;
    right: 20%;
    z-index: 100;
    list-style-type: none;

}

body input ~ nav > ul > li {
    opacity: 0;
    transition: .5s;
    transition-delay: 0s;
}

body input ~ nav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #9e8555;

    display: block;
    padding: 2vh;
    font-size: 3vh;
    letter-spacing: 2px;
    z-index: 100;


}

body input:checked ~ nav {
    height: 100%;
    transition-delay: 0s;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body input:checked ~ nav > ul > li {
    opacity: 1;
    transition-delay: .5s;
}


@media only screen and (min-width: 800px) {



    #burger_display {
        display: none;
    }

    #desktop_menu {
        display: flex;
        justify-content: center;
        margin: auto;
        top: 0;
        padding: 0;
        width: 100vw;
        background: rgb(252, 255, 254);
        position: fixed;
        z-index: 100;
        box-shadow: black 0 -70px 100px;



    }

    #desktop_menu a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #4D4D4D;
        text-decoration: none;
        font-size: 1rem;
        margin: 20px 3vw;
        color: #9e8555;
        letter-spacing: 1px;
        width: 100px;
        text-align: center;





    }


}
