/*////////////////////////////////////////////////////////////////////////////////////Burger_menu///////////////////////////////////////////////////////////////////////////////////////*/

#desktop_menu {
    display: none;
}

#burger {
    position: fixed;
    top: -18px;
}



body h1 > span {
    text-transform: none;
    opacity: .5;
}

body input + label {
    position: fixed;
    top: 40px;
    right: 40px;
    height: 20px;
    width: 15px;
    z-index: 100;

}

body input + label span {
    position: absolute;
    width: 150%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #4D4D4D;
    transition: .5s;


}

body input + label span:first-child {
    top: 3px;

}

body input + label span:last-child {
    top: 17px;
}

body label:hover {
    cursor: pointer;
}

body input:checked + label span {
    opacity: 0;
    top: 50%;
}

body input:checked + label span:first-child {
    opacity: 1;
    transform: rotate(405deg);

}

body input:checked + label span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
}

body input ~ nav {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 3;
    transition: .5s;
    transition-delay: .5s;
    overflow: hidden;
}

body input ~ nav > ul {
    text-align: center;
    position: absolute;
    top: 19%;
    left: 20%;
    right: 20%;
    z-index: 100;
    list-style-type: none;

}

body input ~ nav > ul > li {
    opacity: 0;
    transition: .5s;
    transition-delay: 0s;
}

body input ~ nav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #4D4D4D;

    display: block;
    padding: 30px;
    font-size: 2rem;
    z-index: 100;


}

body input:checked ~ nav {
    height: 100%;
    transition-delay: 0s;
}

body input:checked ~ nav > ul > li {
    opacity: 1;
    transition-delay: .5s;
}


@media only screen and (min-width: 800px) {



    #burger_display {
        display: none;
    }

    #desktop_menu {
        display: flex;
        justify-content: space-around;
        margin: auto;
        padding: 40px 10vw;
        background: white;


    }

    #desktop_menu a {
        color: #4D4D4D;
        text-decoration: none;
        font-size: 1rem;

    }


}
