        #fyld {
            position: absolute;
            top: 45.5rem;
        }

        html {
            scroll-behavior: smooth;
        }

        .pilned {
            width: 5rem;
            height: auto;
            padding-top: 45rem;
            text-align: center;
        }

        .splash {
            width: 100vw;
            height: 100vh;
            background-repeat: no-repeat;
            background-position: center;
            text-align: center;

        }

        .container img {
            padding: 1;
        }

        .Overskrift {
            padding: 3rem;
            font-size: 2rem;
        }

        .billede img {
            width: 15rem;
            height: auto;
        }

        .billede h2 {
            padding: 2rem;
        }

        main {
            text-align: center;
        }

        .sealle {
            text-align: center;
            padding-bottom: 2rem;
        }

        @media only screen and (min-width: 600px) {
            .categories {
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 5vw;
                grid-column-gap: 0;
            }

            main {
                text-align: center;
                padding: 5vw;
                padding-top: 0;
                padding-bottom: 2rem;
            }

            .billede img {
                width: 35vw;

            }

        }



        @media only screen and (min-width: 800px) {
            .splash {}

            .categories {
                display: grid;
                grid-template-columns: auto auto auto;
                grid-gap: 1vw;
                grid-column-gap: 0;
            }

            main {
                text-align: center;
                padding: 18vw;
                padding-top: 0;
                padding-bottom: 2rem;
            }

            .overlay {
                position: absolute;
                width: 20vw;
                height: 20vw;
                top: 59.65rem;
                left: 18.65vw;
                opacity: 0;
                transition: .5s ease;
                background-color: rgba(0, 0, 0, 0.5);
            }

            .container:hover .overlay {
                opacity: 1;
            }

            .container:hover .overlay2 {
                opacity: 1
            }

            .container:hover .overlay3 {
                opacity: 1
            }

            .container:hover .overlay4 {
                opacity: 1
            }

            .container:hover .overlay5 {
                opacity: 1
            }

            .container:hover .overlay6 {
                opacity: 1
            }

            .billede img {
                width: 20vw;

            }

            .overlay2 {
                position: absolute;
                width: 20vw;
                height: 20vw;
                top: 59.65rem;
                left: 40vw;
                opacity: 0;
                transition: .5s ease;

                background-color: rgba(0, 0, 0, 0.5);
            }

            .container h2 {
                color: white;
                padding-top: 7rem;
            }

            .overlay3 {
                position: absolute;
                width: 20vw;
                height: 20vw;
                top: 59.65rem;
                left: 61.3vw;
                opacity: 0;
                transition: .5s ease;
                background-color: rgba(0, 0, 0, 0.5);
            }


            .overlay4 {
                position: absolute;
                width: 20vw;
                height: 20vw;
                top: 78.50rem;
                left: 18.65vw;
                opacity: 0;
                transition: .5s ease;
                background-color: rgba(0, 0, 0, 0.5);
            }

            .overlay5 {
                position: absolute;
                width: 20vw;
                height: 20vw;
                top: 78.50rem;
                left: 40vw;
                opacity: 0;
                transition: .5s ease;
                background-color: rgba(0, 0, 0, 0.5);
            }

            .overlay6 {
                position: absolute;
                width: 20vw;
                height: 20vw;
                top: 78.50rem;
                left: 61.3vw;
                opacity: 0;
                transition: .5s ease;
                background-color: rgba(0, 0, 0, 0.5);
            }
        }

        .categories a {
            line-height: 0;
        }
