        html {
            scroll-behavior: smooth;
        }

        .pilned {
            position: absolute;
            width: 5rem;
            height: auto;
            top: 40vw;
            left: 47%;
            right: 48%;

        }

        .splash {
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            position: relative;
        }


        .Overskrift {
            padding: 3rem;
            font-size: 2rem;
        }



        .padding {
            text-align: center;
        }

        .sealle {
            text-align: center;
            padding-bottom: 2rem;
        }

        @media only screen and (min-width: 600px) {
            .categories {
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 5vw;
                grid-column-gap: 0;
            }

            .padding {
                text-align: center;
                padding: 5vw;
                padding-top: 0;
                padding-bottom: 2rem;
            }

            .billede img {
                width: 35vw;

            }

        }





        .project a {
            text-decoration: none;
        }

        .project img {
            width: 70vw;
            height: 70vw;
            object-fit: cover;
        }


        .project {
            text-align: center;
            margin-bottom: 1rem;
        }

        #projects_title {
            margin-top: 50px;
            text-align: center;
        }

        #projects_title h1 {
            margin-bottom: 10vw;
        }


        @media only screen and (min-width: 600px) {
            #liste {
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 1vw;
                grid-column-gap: 0;
            }

            .padding {
                text-align: center;
                padding: 12vw;
                padding-top: 0;
            }

            .project img {
                width: 35vw;
                height: 35vw;

            }

        }

        @media only screen and (min-width: 800px) {
            #projects_title {
                margin-top: 130px;
                text-align: center;
            }
        }


        @media only screen and (min-width: 1000px) {
            .pilned {
                position: absolute;
                width: 5rem;
                height: auto;
                top: 50vw;


            }

            .project p {}

            #projects_title h1 {
                margin-bottom: 5vw;
            }

            .padding {
                text-align: center;
                padding: 0;
                padding-bottom: 2rem;
                width: 80vw;
                margin: auto;
                margin-top: 50px;

            }

            #liste {
                display: grid;
                grid-template-columns: auto auto auto;
                grid-gap: 0;
                grid-column-gap: 0;
                justify-content: center;

            }


            .project {
                margin-bottom: 0vw;
                height: 20vw;
                width: 20vw;
                padding: 10px;

            }


            .project img {
                height: 20vw;
                width: 20vw;
                object-fit: cover;

            }
        }


        /*////////////////////////////////////////////////////////////////////////////////////scroll_indikator///////////////////////////////////////////////////////////////////////////////////////*/



        .scroll-down {
            position: absolute;
            bottom: 40px;
            display: block;
            text-align: center;
            font-size: 20px;
            z-index: 100;
            text-decoration: none;
            width: 20px;
            height: 20px;
            border-bottom: 2px solid #ffffff;
            border-right: 2px solid #ffffff;
            z-index: 9;
            left: 50%;
            -webkit-transform: translate(-50%, 0%) rotate(45deg);
            -moz-transform: translate(-50%, 0%) rotate(45deg);
            transform: translate(-50%, 0%) rotate(45deg);
            -webkit-animation: fade_move_down 3s ease-in-out infinite;
            -moz-animation: fade_move_down 3s ease-in-out infinite;
            animation: fade_move_down 3s ease-in-out infinite;
        }


        /*animated scroll arrow animation*/
        @-webkit-keyframes fade_move_down {
            0% {
                -webkit-transform: translate(0, -10px) rotate(45deg);
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                -webkit-transform: translate(0, 10px) rotate(45deg);
                opacity: 0;
            }
        }

        @-moz-keyframes fade_move_down {
            0% {
                -moz-transform: translate(0, -10px) rotate(45deg);
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                -moz-transform: translate(0, 10px) rotate(45deg);
                opacity: 0;
            }
        }

        @keyframes fade_move_down {
            0% {
                transform: translate(0, -10px) rotate(45deg);
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                transform: translate(0, 10px) rotate(45deg);
                opacity: 0;
            }
        }
