#jewellery_img {
    width: 100vw;
    height: 50vh;

}


#jewellery_img img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    object-position: center;


}


#product_tab {
    display: none
}

.tabcontent {
    display: none;
    margin: 15vw;


}

#myDropdown {
    border: none;

}

.tabcontent img {

    width: 70vw;
    height: 70vw;
    margin-bottom: 10vw;

}

.dropbtn {


    box-sizing: border-box;
    background: rgb(255, 255, 255);

    color: #4d4d4d;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;

    line-height: normal;
    width: 100vw;
    box-shadow: rgba(75, 75, 75, 0.32) 0px 0px 50px;
    background: #FBFBF9;


}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #bfbfbf;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}


.tablinks {
    border: none;
    line-height: normal;
    width: 100vw;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    font-size: 1rem;
}


.w3-animate-opacity {
    animation: opac 0.8s
}

@keyframes opac {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.w3-modal {
    z-index: 100;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.w3-modal-content {

    margin: auto;
    background-color: #fff;
    position: fixed;
    padding: 0;
    outline: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    text-align: center;



}

.w3-modal-content img {

    margin-top: 25vh;

    object-fit: cover;
    height: 80vw;
    width: 80vw;


}

span {
    position: fixed;
    right: 34px;
    top: 48px;
    z-index: 200;
    font-size: 35px;
    line-height: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #4d4d4d;
    font-weight: 100;
}



@media only screen and (min-width: 800px) {




    #jewellery_img {
        margin-top: 80px;
        height: 50vh;

    }


    #jewellery_img img {

        height: 50vh;
    }

    .dropbtn {
        display: none;
    }



    #product_tab {
        margin: auto;
        padding-bottom: 50px;
        display: flex;
        justify-content: space-around;
        width: 80vw;


    }


    .tablinks {
        border: none;
        line-height: normal;
        width: auto;
        padding: 20px;
        cursor: pointer;
    }

    .tab button {
        line-height: 20px;
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 10px;
        transition: 0.3s;
        font-size: 1rem;


    }


    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #f0f0f0;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 0;
        -webkit-animation: fadeEffect 1s;
        animation: fadeEffect 1s;
        width: 80vw;
        margin: auto;
        text-align: center;
        margin-bottom: 50px;

    }

    /* Fade in tabs */
    @-webkit-keyframes fadeEffect {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeEffect {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }


    .tabcontent img {

        width: 250px;
        height: 250px;


        margin-bottom: 0;
        margin: 3px;
        cursor: pointer;


    }


    .w3-animate-opacity {
        animation: opac 0.8s
    }

    @keyframes opac {
        from {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }

    .w3-modal {
        z-index: 100;
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }

    .w3-modal-content {

        margin: auto;
        background-color: #fff;
        padding: 0;
        outline: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;


    }

    .w3-modal-content img {
        width: 80vh;
        height: 80vh;
        object-fit: cover;
        margin-top: 10vh;


    }

    span {
        position: absolute;
        right: 5vw;
        z-index: 200;
    }


}
