#indhold img {
    max-width: 80vw;
    height: auto;
    padding: 2rem;
    padding-left: 0;
}

p {
    text-align: left;
}

#indhold {
    padding: 2rem;
    padding-top: 2rem;
}

@media only screen and (min-width: 800px) {
    #indhold {
        padding: 5rem;
        padding-top: 8rem;
    }

    #indhold img {
        max-width: 50vw;
        height: auto;
        padding: 2rem;
        padding-left: 0;
    }
}
