a {
    text-decoration: none;
}

.project p {
    width: 80vw;
    margin: auto;
    display: none;
}

.project h2:nth-child(1) {
    display: block;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    -webkit-box-orient: vertical;

}

.project p:nth-child(4) {
    display: block;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;


}

.project img {
    width: 70vw;
    height: 70vw;
    object-fit: cover;
}


.project {
    text-align: center;
    margin-bottom: 1rem;
}

#projects_title {
    margin-top: 50px;
    text-align: center;
}

#projects_title h1 {
    margin-bottom: 10vw;
}


@media only screen and (min-width: 600px) {
    #liste {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 1vw;
        grid-column-gap: 0;
    }

    main {
        text-align: center;
        padding: 12vw;
        padding-top: 0;
        padding-bottom: 2rem;
    }

    .project img {
        width: 35vw;
        height: 35vw;

    }



}

@media only screen and (min-width: 800px) {
    #projects_title {
        margin-top: 200px;
        text-align: center;
    }
}


@media only screen and (min-width: 1000px) {


    #projects_title h1 {
        margin-bottom: 5vw;
    }

    main {
        text-align: center;
        padding: 14vw;
        padding-top: 0;
        padding-bottom: 2rem;
    }

    #liste {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 1;
        justify-content: center;
    }


    .project {
        height: auto;
        cursor: pointer;
    }



    .project img {
        width: 20vw;
        height: 20vw;
        object-fit: cover;
        margin-bottom: 10px;

    }

    .project p {
        display: none;
        width: auto;
        text-align: left;

    }




}
